<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Name:</label><br><br>
                <input type="text" name="username" id="name" placeholder="Enter Your Name" required autocomplete="off">
            </div><br>
            <div class="form-group">
                <label for="Password">Password:</label><br><br>
                <input type="password" name="password" id="password" placeholder="Password" required autocomplete="off">
            </div><br>
            <button type="submit" class="submit-btn">Login</button>
        </form><br>
        <p>Don't have an account?<a href="/SignUp">Sign Up </a></p>
    </div>
</body>
</html>